* {
	box-sizing: border-box;
}

.page {
	height: 2000px;

	font-family: 'PT Sans', sans-serif;
	color: #333333;
}

.page__container {
	position: relative;
	top: 200px;
	height: 791px;
	padding: 0px;
}

.background {
	position: relative;
	top: 0px;

	width: 559px;
	margin:auto;
}

.main-article__header {
	font-size: 24px;
}

.background__sheet, 
.background__sheet, 
.background__sheet {
	position: absolute;

	width: 519px;
	height: 751px;

	border: 2px solid #000000;
}

.background__sheet--semantic {	
	padding: 32px 31px 46px 31px;
	font-size: 11px;
	background-color: #EBEBEB;
}

.background__sheet--pseudo-light {
	top: 20px;
	left: 20px;
	z-index: -1;

	background-color: #CCCCCC;
}

.background__sheet--pseudo-dark {
	top: 40px;
	left: 40px;
	z-index: -2;

	background-color: #ACACAC;
}

.background__sheet--semantic::before,  
.background__sheet--pseudo-light::before, 
.background__sheet--pseudo-dark::before {
	content: "";
	position: absolute;
	top: 41px;
	left: 492px;

	width: 111px;
	height: 35px;

	border: inherit;
	border-top-right-radius: 9px;
	border-bottom-right-radius: 9px;
}

.background__sheet--semantic::before { 	
	background-color: #F68E56; 
}

.background__sheet--pseudo-light::before { 	
	background-color: #39B54A; 
	width:76px; 
}

.background__sheet--pseudo-dark::before { 	
	background-color: #00AEEF; 	
	width:46px;  
}


.main-article__content {
	padding-top: 14px;
	overflow: hidden;
}

.main-article__content p {
	margin-top: 0px;
	margin-bottom: 11px;
}

.img1 {
	float: left;
	margin-right:21px;
}

.img2 {
	float: right;
	margin-left:6px;
}

.sub-article__block {
	padding-top: 18px;
}

.sub-article__header {
	font-size: 18px;
	margin:0px;
	font-weight: lighter;

}

.sub-article__img-container {
	padding-top: 18px;
}

.img-list {
	margin: 0px;
	padding: 0px; 

	overflow: hidden;
}

.img-list__img {
	width: 194px;
	height: 88px;
}

.img-list__item { 
	margin-top: 14px;
	display: inline-block;
}

.img-list__item:nth-child(odd) { 
	float:left;
}

.img-list__item:nth-child(even) { 
	float:right;
}

.img-list__item:nth-child(1), 
.img-list__item:nth-child(2) { 
	margin-top: 0px;
}

.main-article__footer {
	padding-left: 10px;
	padding-right: 10px;	
}

.main-article__footer p {
	margin-top: 22px;

	text-align: center;
	font-size: 9px;
}

.share-block {
	position: fixed;
	bottom:0px;
	right: 0px;

	width: 89px;
	height: 71px;
	margin-right: 0px;
	padding-top: 3px;

	text-align: center;
	font-size: 14px;

	background-color: #FBAF5D;
	border: 1.5px solid #362F2D;
}

.share-block__logo-container {
	padding-top: 12px;
}

.logos-list {
	margin: 0px;
	padding: 0px;

	overflow: hidden;
}

.logos-list__item {
	padding-left: 6px;
	display: inline-block;
}

.logos-list__img {
	width: 19px;
	height: 19px;
}