* {
	box-sizing: border-box;
}

body {
	height: 2000px;

	font-family: 'PT Sans', sans-serif;
	color: #333333;
}

.container {
	position: relative;
	top: 200px;

	width: 100%;
	height: 791px;
	padding: 0px;
}

.bgrnd {
	position: relative;
	top: 0px;

	width: 559px;
	margin:auto;
}

header {
	font-size: 24px;
}

.sheet-semantic, 
.sheet-pseudo-1, 
.sheet-pseudo-2 {
	position: absolute;

	width: 519px;
	height: 751px;

	border: 2px solid #000000;
}

.sheet-semantic {	
	padding: 32px 31px 46px 31px;
	font-size: 11px;
	background-color: #EBEBEB;
}

.sheet-pseudo-1 {
	top: 20px;
	left: 20px;
	z-index: -1;

	background-color: #CCCCCC;
}

.sheet-pseudo-2 {
	top: 40px;
	left: 40px;
	z-index: -2;

	background-color: #ACACAC;
}

.sheet-semantic::before,  
.sheet-pseudo-1::before, 
.sheet-pseudo-2::before {
	content: "";
	position: absolute;
	top: 41px;
	left: 492px;

	width: 111px;
	height: 35px;

	border: inherit;
	border-top-right-radius: 9px;
	border-bottom-right-radius: 9px;
}

.sheet-semantic::before { 	
	background-color: #F68E56; 
}

.sheet-pseudo-1::before { 	
	background-color: #39B54A; 
	width:76px; 
}

.sheet-pseudo-2::before { 	
	background-color: #00AEEF; 	
	width:46px;  
}


.main-article-block {
	padding-top: 14px;
	overflow: hidden;
}

.main-article-block p {
	margin-top: 0px;
	margin-bottom: 11px;
}

img#img1 {
	float: left;
	margin-right:21px;
}

img#img2 {
	float: right;
	margin-left:6px;
}

.sub-article-block {
	padding-top: 18px;
}

.sub-article h2 {
	font-size: 18px;
	margin:0px;
	font-weight: lighter;

}

.img-container {
	padding-top: 18px;
}

ul.img-list {
	width: 100%;
	margin: 0px;
	padding: 0px; 

	overflow: hidden;
}

ul.img-list img {
	width: 194px;
	height: 88px;
}

ul.img-list li  { 
	margin-top: 14px;
	display: inline-block;
}

ul.img-list li:nth-child(odd) { 
	float:left;
}

ul.img-list li:nth-child(even) { 
	float:right;
}

ul.img-list li:nth-child(1), 
ul.img-list li:nth-child(2) { 
	margin-top: 0px;
}

.article-footer {
	padding-left: 10px;
	padding-right: 10px;	
}

.article-footer p {
	margin-top: 22px;

	text-align: center;
	font-size: 9px;
}

.share-block {
	position: fixed;
	bottom:0px;
	right: 0px;

	width: 89px;
	height: 71px;
	margin-right: 0px;
	padding-top: 3px;

	text-align: center;
	font-size: 14px;

	background-color: #FBAF5D;
	border: 1.5px solid #362F2D;
}

.logo-container {
	padding-top: 12px;

}

ul.logos-list {
	margin: 0px;/*!!! по умолчанию не стоят*/
	padding: 0px;

	overflow: hidden;
}


ul.logos-list li {
	padding-left: 6px;
	display: inline-block;
}



ul.logos-list li img {
	width: 19px;
	height: 19px;
}